flows.json
[
    {
        "id": "0566604461bcef57",
        "type": "tab",
        "label": "Flow 13",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ffd05427640ea48",
        "type": "ui_table",
        "z": "0566604461bcef57",
        "group": "0fc72555c904f8cc",
        "name": "",
        "order": 1,
        "width": "6",
        "height": "6",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "13c5fe2026bbc820",
        "type": "postgresql",
        "z": "0566604461bcef57",
        "name": "",
        "query": "INSERT INTO sotano (informacion) VALUES ('{{{msg.payload}}}');",
        "postgreSQLConfig": "ba354b8b24ef27d7",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "3e20bfba012bedb1"
            ]
        ]
    },
    {
        "id": "3e20bfba012bedb1",
        "type": "debug",
        "z": "0566604461bcef57",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "ad832ff1f1c108a7",
        "type": "inject",
        "z": "0566604461bcef57",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "4ee39cdc9e87347a"
            ]
        ]
    },
    {
        "id": "4ee39cdc9e87347a",
        "type": "postgresql",
        "z": "0566604461bcef57",
        "name": "",
        "query": "SELECT * FROM sotano;",
        "postgreSQLConfig": "ba354b8b24ef27d7",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "3ffd05427640ea48"
            ]
        ]
    },
    {
        "id": "894a3250b1205f0a",
        "type": "mqtt in",
        "z": "0566604461bcef57",
        "name": "",
        "topic": "AU/Proyecto",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c27a9a3ab52a3a96",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "13c5fe2026bbc820"
            ]
        ]
    },
    {
        "id": "52b84f11f80d1c89",
        "type": "ui_switch",
        "z": "0566604461bcef57",
        "name": "Estado bomba.",
        "label": "Estado bomba",
        "tooltip": "",
        "group": "65d5e525f4af96cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "5b45874169f83063"
            ]
        ]
    },
    {
        "id": "5b45874169f83063",
        "type": "mqtt out",
        "z": "0566604461bcef57",
        "name": "",
        "topic": "AU/BombaAgua",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c27a9a3ab52a3a96",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "69cd1e6052eec1b9",
        "type": "ui_switch",
        "z": "0566604461bcef57",
        "name": "Modo manual.",
        "label": "Modo manual",
        "tooltip": "",
        "group": "65d5e525f4af96cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "0fdd8c7d71b2a722"
            ]
        ]
    },
    {
        "id": "0fdd8c7d71b2a722",
        "type": "mqtt out",
        "z": "0566604461bcef57",
        "name": "",
        "topic": "AU/Manual",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c27a9a3ab52a3a96",
        "x": 470,
        "y": 540,
        "wires": []
    },
    {
        "id": "31f5a45196a0b50d",
        "type": "ui_gauge",
        "z": "0566604461bcef57",
        "name": "",
        "group": "d086eb7c689d8283",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel de Agua.",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 840,
        "wires": []
    },
    {
        "id": "95f6f9b8af1222cc",
        "type": "mqtt in",
        "z": "0566604461bcef57",
        "name": "",
        "topic": "AU/SensorAgua",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c27a9a3ab52a3a96",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 840,
        "wires": [
            [
                "31f5a45196a0b50d"
            ]
        ]
    },
    {
        "id": "3451e42176392e2c",
        "type": "ui_gauge",
        "z": "0566604461bcef57",
        "name": "",
        "group": "d086eb7c689d8283",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Distancia al agua",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 940,
        "wires": []
    },
    {
        "id": "a3859240ac6bca99",
        "type": "mqtt in",
        "z": "0566604461bcef57",
        "name": "",
        "topic": "AU/SensorDistancia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c27a9a3ab52a3a96",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "3451e42176392e2c"
            ]
        ]
    },
    {
        "id": "1986cd89db776b6f",
        "type": "ui_switch",
        "z": "0566604461bcef57",
        "name": "",
        "label": "Estado buzzer",
        "tooltip": "",
        "group": "65d5e525f4af96cc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 640,
        "wires": [
            [
                "60e264871ee8a4c7"
            ]
        ]
    },
    {
        "id": "60e264871ee8a4c7",
        "type": "mqtt out",
        "z": "0566604461bcef57",
        "name": "",
        "topic": "AU/Buzzer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c27a9a3ab52a3a96",
        "x": 470,
        "y": 640,
        "wires": []
    },
    {
        "id": "c53fc80ab7daf253",
        "type": "ui_switch",
        "z": "0566604461bcef57",
        "name": "",
        "label": "Estado LED's",
        "tooltip": "",
        "group": "65d5e525f4af96cc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 740,
        "wires": [
            [
                "f996579f1d5df149"
            ]
        ]
    },
    {
        "id": "f996579f1d5df149",
        "type": "mqtt out",
        "z": "0566604461bcef57",
        "name": "",
        "topic": "AU/LEDS",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c27a9a3ab52a3a96",
        "x": 460,
        "y": 740,
        "wires": []
    },
    {
        "id": "29abee01be788758",
        "type": "mqtt in",
        "z": "0566604461bcef57",
        "name": "",
        "topic": "AU/SAgua",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c27a9a3ab52a3a96",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1020,
        "wires": [
            [
                "4dd081a729205cb2"
            ]
        ]
    },
    {
        "id": "4dd081a729205cb2",
        "type": "ui_text",
        "z": "0566604461bcef57",
        "group": "65d5e525f4af96cc",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor de Agua",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0fc72555c904f8cc",
        "type": "ui_group",
        "name": "Base de datos",
        "tab": "a52f6fee66118381",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba354b8b24ef27d7",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "c27a9a3ab52a3a96",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "65d5e525f4af96cc",
        "type": "ui_group",
        "name": "Control",
        "tab": "a52f6fee66118381",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d086eb7c689d8283",
        "type": "ui_group",
        "name": "Monitoreo",
        "tab": "a52f6fee66118381",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a52f6fee66118381",
        "type": "ui_tab",
        "name": "BaseDatos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
